.content {
    display: grid;
    grid-template-columns: 20% 75%;
    grid-column-gap: 20px;
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;
    background: #DCDCDC;
}

.filters {
    background-color: white;

    .input {
        margin-bottom: 10px;
        font-family: system;
        font-weight: 500;
        outline: 0;
        background: white;
    }

    .button {
        font-size: 0.8rem;
        border: none;
        outline: none;
        background: #6d6d6d;
        color: white;
        cursor: pointer;
    }

    .select {
        appearance:none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        width: 100%;
        border-radius: 2px;
        border: 1px solid #dcdcdc;
        margin-bottom: 10px;
        font-family: system;
        font-weight: 500;
        outline: 0;
        background: white;
        display: block;
    }
}


.hotel-list {
    > *:not(:last-child) {
        margin-bottom: 10px;
    }
}

.hotel-card {
    background: white;
    display: grid;
    grid-template-columns: 180px 1fr 20%;
    overflow: hidden;

    .image {
        min-width: 180px;
        height: 180px;
    }

    .hotel-details {
        padding: 10px;
    }

    .hotel-name {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 5px;
    }

    .location {
        color: #6d6d6d;
        font-size: 13px;
    }

    .price-details {
        padding: 10px;
    }

    .price {
        font-weight: 500;
        color: #6DBA4A;
    }

    .rewards {
        font-weight: 500;
    }

    .button {
        width: 100%;
    }
}
